h3
{
    margin: 0 0 5px 0;
}

a
{
    color: #000000;
    font-weight: normal;
    font-size: 10px;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#MainHeader
{
    
}

#MainHeader_txt
{
    float: left;
    width: 500px;
    font-size: 35px;
}

#ClearStorage
{
    margin-top: 15px;
    margin-left: 374px;
}

#new
{
    height: 500px;
}

#in_progress
{
    height: 200px;
    padding-bottom: 5px;
}

#pending
{
    height: 200px;
    padding-bottom: 5px;
}

#done
{
    height: 200px;
}

#trash
{
    margin-top: 5px;
    height: 105px;
}

#CopyRight
{
    margin-top: 20px;
    text-align: center;
}

#dd_ProjInfo
{
    display: inline-block;
    width: 100%;
    float: left;
}

#dd_ProjNotes
{
    display: inline-block;
    width: 100%;
    float: left;
}

#dd_ProjInfo_HeaderDescrip
{
    display: inline-block;
    width: 50%;
    float: left;
}

#dd_ProjInfo_DueURL
{
    display: inline-block;
    width: 50%;
    float: right;
}

.inner
{
    height: 100%;
}

.header
{
    height: 35px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 5px 5px 5px;
    text-align: right;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.header_text
{
    font-size: 25px;
    float: left;
}

.draggable
{
    font-weight: bold;
    cursor: pointer;
    background-color: #AFAFAF;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.textbox
{
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#new_body, #in_progress_body, #pending_body, #done_body, #trash_body
{
    border: solid 1px #000000;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#new_body
{
    height: 445px;
}

#in_progress_body, #pending_body
{
    height: 150px;
}

#done_body
{
    height: 155px;
}

#trash_body
{
    height: 60px;
}

label
{
    font-size: 13px;
}